<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect </property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fitnescentar</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="xml/Clan.hbm.xml"/>
    <mapping resource="xml/FitnesCentar.hbm.xml"/>
    <mapping resource="xml/Racun.hbm.xml"/>
    <mapping resource="xml/Zaposleni.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
